body {
  font-family: Helvetica;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  margin-bottom: 12px;
}

.input {
  width: 100%;
}

.cell {
  display: inline-block;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.lastPosition {
  background-color: red;
}

.letter {
  display: inline-block;
}
